

@font-face {
    font-family: 'Helvetica Neue';
//    src: local('Helvetica Neue Bold'),
    src: url('../fonts/hinted-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/hinted-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
//    src: local('Helvetica Neue'), local('HelveticaNeue'),
    src: url('../fonts/hinted-HelveticaNeue.woff2') format('woff2'),
        url('../fonts/hinted-HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

