@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/helveticaneue.ttf'), url('fonts/helveticaneue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('fonts/helveticaneuebold.ttf'), url('fonts/helveticaneuebold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}