$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @return $pixels / $context * 1rem;
}
html {
  @include poly-fluid-sizing('font-size', (320px: 14px, 576px: 10px, 768px: 13px, 1024px: 14px, 1440px: 15px, 1600px: 16px));
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: -.025em
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: -.025em
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-weight: bold;
  letter-spacing: -.05em;
  font-weight: bold;
  //    margin: 0 0 1rem;
  span {
    display: block;
    font-size: 75%;
    margin-bottom: 5px;
    &.small {
      font-size: 50%;
      letter-spacing: -.05em;
    }
  }
}
h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem
}
h2 {
  font-size: 2.15rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.25rem;
}
.clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: linkanimate 1s alternate linear infinite;
  background-size: 500%;
  &.red {
    background: $rgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.yellow {
    background: $ygrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.orange {
    background: $ograd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.green {
    background: $ggrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.blue {
    background: $bgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.purple {
    background: $pgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
}
.task-link {
  span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: linkanimate 1s alternate linear infinite;
    background-size: 500%;
  }
  &.red span {
    background: $rgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.red:hover {
    color: $r;
  }
  &.orange span {
    background: $ograd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.orange:hover {
    color: $o;
  }
  &.green span {
    background: $ggrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.green:hover {
    color: $g;
  }
  &.blue span {
    background: $bgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.blue:hover {
    color: $b;
  }
  &.purple span {
    background: $pgrad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500%;
  }
  &.purple:hover {
    color: $p;
  }
}
.fa {
  position: relative;
  z-index: 2;
}
@media (max-width:1441px) {
  body,
  p {
    //        font-size: 14px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body,
  p {
    //        font-size: rem(12);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}
@media (max-width:768px) {
  html:not(.ipad) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 3rem;
    }
    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span {
      font-size: 1rem;
      letter-spacing: -.025em;
    }
    h1,
    h2,
    h3,
    h4 {
      margin: .25em 0;
    }
  }
}
@media (max-width:560px) {
  html:not(.ipad) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span {
      font-size: 1rem;
      letter-spacing: -.025em;
    }
    h1,
    h2,
    h3,
    h4 {
      margin: .25rem 0;
    }
  }
}
.maxw_767.orientation_landscape {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span {
    font-size: 1rem;
    letter-spacing: -.025em;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: .25rem 0;
  }
  .donate-bar {
    padding: 1rem;
  }
  .donate-bar a {
    font-size: 1rem;
  }
}
