$r: #e40051;
$o: orange;
$y: #ffdc19;
$g: #34d400;
$b: dodgerblue;
$m: magenta;
$p: purple;

$rgrad: linear-gradient(135deg, rgba(253,47,173,1) 0%,#e40051 100%);
$ygrad: linear-gradient(135deg, rgba(255,162,7,1) 0%, #ffdc19 100%);
$ograd: linear-gradient(135deg, #ffdc19 0%,rgba(255,162,7,1) 100%);
$ggrad: linear-gradient(135deg, rgba(151,255,7,1) 0%,rgba(57,213,7,1) 100%);
$bgrad: linear-gradient(135deg, dodgerblue 0%,rgba(7,41,254,1) 100%);
$pgrad: linear-gradient(135deg, rgba(255,11,255,1) 0%,purple 100%);
