.page-main {
  .home-hero {
    //		background-image: url(../../dist/img/curated/curated-8.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    h2 {
      font-size: rem(60);
      line-height: 1.1;
      //			background-image: url(../../dist/img/curated/curated-8.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position: 50%;
      //		height: 100vh;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      background-color: rgba(255, 255, 255, .8);
      background-blend-mode: hard-light;
      z-index: 1;
      position: relative;
      &.clone-shadow {
        -webkit-background-clip: none;
        color: #fff;
        position: absolute;
        z-index: 0;
        top: 0px;
        text-shadow: 5px 3px 16px #000;
        padding-left: rem(15);
        padding-right: rem(15);
        width: 100%;
        left: 0;
        -webkit-text-fill-color: black;
      }
    }
    .img-attrib {
      left: 20px;
    }
  }
  //	.over {
  //	position: absolute;
  //	top: 0;
  //	left: 0;
  //	height: 100%;
  //	width: 100%;
  //	z-index: 1;
  //	background-image: url(../../dist/img/hero.svg);
  //	background-size: cover;
  //	background-repeat: no-repeat;
  //	background-position: 50% 50%;
  //
  //	}
  .content-left {
    overflow: hidden;
    position: relative;
    // (768px)
    .media-over {
      position: absolute;
      //        bottom: 0;
      left: 0;
      width: 100%;
//      top: 0;
      @include media-breakpoint-down(md) {
        position: relative;
        padding: 0 calc((100vw - 720px) / 2);
        margin-bottom: 1rem;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 calc((100vw - 540px) / 2);
      }
      @include media-breakpoint-down(xs) {
        padding: 0 15px;
      }
    }
    canvas {
      filter: grayscale(.5);
      opacity: .75;
      width: 100%;
      height: 100% !important;


      // (768px)
      @include media-breakpoint-down(md) {


        display: none;
      }

    }
    .over-image {


      @include media-breakpoint-up(md) {


      position: absolute;
      bottom: 50%;
      width: 75%;
      margin-left: -5%;
      border: rem(10) solid #fff;
      left: 0;
      }
    }
  }
}
.img-attrib {
  position: absolute;
  //		top: 0;
  left: 5px;
  right: 0;
  bottom: 5px;
  z-index: 1;
  color: white;
  opacity: .5;
  width: 100%;
  text-align: left;
  font-size: 8px;
  text-shadow: 2px 2px 2px #000;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //			margin-left: calc(120vw / 6);
  //				top: calc(100% - 30px);
}
.page-id-5286 .page-main .home-hero {
  .col-md-9 {
    width: 100%;
  }
  h2 {
    font-size: 3.5rem !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body:not(.home) .page-main .home-hero h2 {
    background-attachment: scroll;
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: overlay;
    //	background-image: none !important;
    //	position: relative;
    //	color: white;
  }
  .home .home-hero h2,
  .donate-hero h2,
  .home-play,
  .home-hero .home-play span,
  .home-hero .home-play i:before {
    background-attachment: scroll;
    background-size: 100vw auto;
  }
  body:not(.home) .page-main .home-hero h2:not(.clone-shadow) {
    //		display: none;
  }
  .page-main .home-hero {
    background-attachment: scroll;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .col-md-10.col-center-ls-tab {
    width: 90%;
    margin: 0 auto;
  }
  .home-about .col-md-6.col-md-offset-1 {
    margin-top: rem(32);
    margin-bottom: rem(32);
  }
  .home-about.pt-sm-5.content-left {
    padding-top: 0;
  }
  .col-md-5.mm {
    width: 75%;
  }
  .col-md-6.mm.col-md-offset-1 {
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
  }
  .col-md-6.mm.col-md-offset-1 canvas {
    width: 100%;
  }
}
@media (max-width:993px) {}
body:not(.home) {
  .home-about:not(:first-of-type) {
//    padding-top: 3rem !important;

    // (768px)
    @include media-breakpoint-down(sm) {
//    padding-top: 1rem !important;

    }

  }
}
@include media-breakpoint-down(sm) {
    .page-main .home-hero h2.clone-shadow,
    .page-main .home-hero h2 {
      font-size: 4rem;
      //		background-attachment: scroll;
      background-size: auto 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-text-fill-color: white;
      background-blend-mode: overlay;
      text-shadow: 2px 2px 4px #000;
      opacity: .8;
    }
    .video-container {
      margin-top: 1rem;
      transform: none !important;
    }
    .page-main .home-hero h2.clone-shadow {
      display: none;
    }
    .page-main .home-hero {
      //		background-attachment: scroll;
      background-size: auto 100vh;
      background-position: 0% 50%;
    }
    .page-id-12 .home-hero .col-md-9,
    .page-main .home-hero h2.clone-shadow,
    .invert-header .home-hero .col-md-9 {
      //            padding: 0 10%;
    }
    &.ios {
      .page-id-12 .home-hero .col-md-9,
      .page-main .home-hero h2.clone-shadow,
      .invert-header .home-hero .col-md-9,
      .invert-header .page-main .home-hero h2.clone-shadow {
        padding: 0 5.25%;
      }
    }
    label {
      font-size: 4vw;
    }

}

@include media-breakpoint-down(xs) {
    .page-main .home-hero h2.clone-shadow,
    .page-main .home-hero h2 {
      font-size: 2rem;

    }

}
@media (max-width:375px) {}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .page-main .home-hero h2.clone-shadow,
    .page-main .home-hero h2 {
      //            font-size: 6vw !important;
      //            font-size: rem(16);
      margin-top: 5vw;
      line-height: 1.5;
      //		background-attachment: scroll;
      background-size: auto 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-text-fill-color: white;
      background-blend-mode: overlay;
      text-shadow: 2px 2px 4px #000;
      opacity: .8;
    }
    .page-main .home-hero h2.clone-shadow {
      display: none;
    }
    .page-id-12.menu-open .main-header svg,
    .invert-header.menu-open .main-header svg {
      filter: invert(0)
    }

}
