//@mixin fontSize($size) {
////font-size: $size; // Fallback in px.
//font-size: ($size / 16px) * 1rem;
//}
@for $i from 1 to 20 {
  .menu-open .full-menu ul li:nth-child(#{$i}) {
    transition-delay: $i * 0.15s;
  }
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  background: #fff;
  padding: rem(25) 0 rem(10);
  display: table;
  transition: all .5s ease;

  img,
  svg {
    width: rem(115);
    height: 6.6875rem;
    transition: all .5s ease;

    @include media-breakpoint-down(md) {
      width: 5rem;
      transform: translateY(.9375rem);
      height: 4rem;
      padding-bottom: .25rem;
    }

    g {
      transition: opacity .3s ease;

      // (768px)
      @include media-breakpoint-down(md) {
        display: none;

        path {
          display: none;
        }
      }
    }
  }

  // @media (max-width: 1439px)
  @include media-breakpoint-down(lg) {
    //    padding:
  }

  svg #text {
    transition: all .5s ease;
  }

  .height {
    height: 89px;
  }

  //  .menu-container {
  //    display: table-cell;
  //    vertical-align: middle;
  //    width: 100%;
  //    ul {
  //      list-style: none;
  //      padding: 0;
  //      margin: 0;
  //      li {
  //        display: inline-block;
  //        line-height: 1.1;
  //        a {
  //          color: black;
  //          font-weight: bold;
  //          padding: rem(10) 20px;
  //          display: block;
  //          transition: color .5s ease;
  //          position: relative;
  //          line-height: 1.1;
  //          @media(max-width: 1600px) {
  //            font-size: 14px;
  //            //                                padding: rem(10) rem(10);
  //          }
  //          @media(max-width: 1440px) {
  //            font-size: 13px;
  //            padding: rem(10) rem(15);
  //          }
  //          &:before {
  ////            opacity: 0;
  ////            transition: opacity .5s ease;
  ////            content: attr(title);
  ////            color: #000;
  ////            background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
  ////            animation: animation 10s alternate linear infinite;
  ////            -webkit-background-clip: text;
  ////            -webkit-text-fill-color: transparent;
  ////            background-attachment: fixed;
  ////            background-position: 50%;
  ////            position: absolute;
  ////            z-index: 1000;
  ////            line-height: 1.1;
  //            //    left: 0;
  //            //    top: 0;
  //          }
  //          &:hover {
  //            color: rgba(0, 0, 0, 0);
  //          }
  //          &:hover:before {
  //            opacity: 1;
  //          }
  //        }
  //        .single-language {
  //          padding: 9px 7px;
  //        }
  //      }
  //    }
  //    .menu-toggle {
  //      padding: 13px;
  //      display: block;
  //      text-align: center;
  //      transform: translateZ(0);
  //      &:before {
  //        content: '';
  //        position: absolute;
  //        left: calc((100% - 50px) / 2);
  //        top: -5px;
  //        height: 40px;
  //        width: 40px;
  //      }
  //      span {
  //        height: rem(10);
  //        width: rem(10);
  //        background: black;
  //        margin: 0 calc((100% - 20px) / 2);
  //        display: block;
  //        border-radius: 100%;
  //        position: absolute;
  //        transform-origin: 50% 50% 0;
  //        left: 0;
  //        overflow: hidden;
  //        will-change: transform, background;
  //        transition: transform .3s ease, background .3s ease;
  //        pointer-events: none;
  //        &:before {
  //          background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
  //          animation: animation 10s alternate linear infinite;
  //          background-attachment: fixed;
  //          content: '';
  //          position: absolute;
  //          left: 0;
  //          top: 0;
  //          height: 100%;
  //          width: 100%;
  //          opacity: 0;
  //          transition: opacity .3s ease;
  //          z-index: 1;
  //          border-radius: 100%;
  //          will-change: opacity;
  //        }
  //      }
  //      &:hover span:before {
  //        opacity: 1;
  //      }
  //      &:hover span,
  //      span:hover:nth-child(2) {
  //        background: transparent !important;
  //      }
  //      span:nth-child(1) {
  //        transform: translateX(rem(15)) translateZ(0);
  //      }
  //      span:nth-child(2) {
  //        background-color: #000;
  //        transform: translate3d(0, 0, 0);
  //        z-index: 1;
  //        &:after {
  //          content: '';
  //          position: absolute;
  //          top: 0;
  //          left: 0;
  //          opacity: 0;
  //          transform: scale(0);
  //          background-color: transparent;
  //          background-image: url(../../dist/img/close.svg);
  //          background-size: cover;
  //          background-position: 50%;
  //          background-repeat: no-repeat;
  //          transition: transform .3s ease;
  //          width: 40px;
  //          height: 40px;
  //          transform: translate3d(-rem(15), -rem(15), 0) scale(0);
  //          will-change: transform;
  //        }
  //      }
  //      span:nth-child(3) {
  //        transform: translateX(-rem(15)) translateZ(0);
  //      }
  //    }
  //    .single-language {
  //      line-height: 1.1;
  //    }
  //    .single-language:before {
  //      margin-top: 1px;
  //    }
  //    .en.united-states.single-language:after {
  //      content: '';
  //      width: 20px;
  //      height: rem(15);
  //      display: inline-block;
  //      position: relative;
  //      margin-left: 5px;
  //      top: 2px;
  //      background-image: url(../../dist/img/us.svg);
  //      background-size: 20px rem(10) !important;
  //      background-position: 50%;
  //      background-repeat: no-repeat;
  //    }
  //    .es.Spanish.single-language:after {
  //      content: '';
  //      width: 20px;
  //      height: rem(15);
  //      display: inline-block;
  //      position: relative;
  //      margin-left: 5px;
  //      top: 2px;
  //      background-image: url(../../dist/img/span.svg);
  //      background-size: 20px rem(10) !important;
  //      background-position: 50%;
  //      background-repeat: no-repeat;
  //    }
  //  }
  //
  &.utility {

    // (768px)
    .menu-toggle {
      padding: 10px 13px;
      display: block;
      text-align: center;
      transform: translateZ(0);

      &:before {
        content: '';
        position: absolute;
        left: calc((100% - 50px) / 2);
        top: -5px;
        height: 40px;
        width: 40px;
      }

      span {
        height: rem(10);
        width: rem(10);
        background: black;
        margin: 0 calc((100% - 20px) / 2);
        display: block;
        border-radius: 100%;
        position: absolute;
        transform-origin: 50% 50% 0;
        left: 0;
        overflow: hidden;
        //          will-change: transform, background;
        transition: .3s ease 100ms;
        pointer-events: none;
        will-change: background, transform, width, height, border-radius;
        transform-style: flat;

        &:before {
          //            background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
          //            animation: animation 10s alternate linear infinite;
          //            background-attachment: fixed;
          //            content: '';
          //            position: absolute;
          //            left: 0;
          //            top: 0;
          //            height: 100%;
          //            width: 100%;
          //            opacity: 0;
          //            transition: opacity .3s ease;
          //            z-index: 1;
          //            border-radius: 100%;
          //            will-change: opacity;
        }
      }

      &:hover span:before {
        opacity: 1;
      }

      &:hover span,
      span:hover:nth-child(2) {

        // (768px)
        @include media-breakpoint-up(md) {
          //          background: transparent !important;
        }
      }

      span:nth-child(1) {
        transform: translateX(rem(15)) translateZ(0);
      }

      span:nth-child(2) {
        background-color: #000;
        transform: translate3d(0, 0, 0);
        z-index: 1;

        //          &:after {
        //            content: '';
        //            position: absolute;
        //            top: 0;
        //            left: 0;
        //            opacity: 0;
        //            transform: scale(0);
        //            background-color: transparent;
        //            background-image: url(../../dist/img/close.svg);
        //            background-size: cover;
        //            background-position: 50%;
        //            background-repeat: no-repeat;
        //            transition: transform .3s ease;
        //            width: 40px;
        //            height: 40px;
        //            transform: translate3d(-rem(15), -rem(15), 0) scale(0);
        //            will-change: transform;
        //          }
        // (768px)
        @include media-breakpoint-down(md) {

          //            transform: scale(4.25);
          //            background: linear-gradient(90deg, #00a8de 0%, #333391 17%, #e91388 34%, #eb2d2e 51%, #fde92b 68%, #009e54 85%, #00a8de 100%);
          //            animation: animation 10s alternate linear infinite;
          //            background-attachment: fixed;
          &:before {
            content: '';
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;
            background: white;
            border-radius: 200%;
            opacity: 1;
            height: auto;
            width: auto;
            opacity: 0;
            content: '';
            position: absolute;
            transition: opacity .3s ease;
            z-index: 1;
          }
        }
      }

      span:nth-child(3) {
        transform: translateX(rem(-15)) translateZ(0);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;

      li {
        display: inline-block;
        line-height: 1.1;
        padding: 1rem 0;

        &:not(:last-child) a:after {
          content: '•';
          padding: 0 .35em 0 .5em;
          color: black;
        }

        a {
          color: black;
          font-weight: bold;
          //                  padding: rem(10) 20px;
          display: block;
          transition: color .5s ease;
          position: relative;
          line-height: 1.1;
          font-size: rem(18);
          text-align: left;

          @supports not (-webkit-background-clip: text) {
            &::before {
              animation: var(--colorFade);
            }
          }

          //          @supports (-webkit-background-clip: text) {
          &:hover {
            color: rgba(0, 0, 0, 0);
          }

          &:hover:before {
            opacity: 1;
          }

          //          }
        }

        // (768px)
        @include media-breakpoint-up(md) {
          .sub-menu {
            position: absolute;
            padding: .5rem 5rem 1rem 2rem;
            margin-left: -2rem;
            text-align: left;
            background: white;
            z-index: 1;
            margin-top: .75rem;
            opacity: 0;
            transition: opacity .3s ease, transform .3s ease;
            transform: translateY(rem(15));
            pointer-events: none;
            width: 16rem;
            max-width: 16rem;
            visibility: hidden;

            &:before {
              content: '';
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 100%;
              @include gradientLink;
              opacity: .25;
              filter: blur(14px);
              top: rem(15);
              left: 0;
            }

            &:after {
              content: '';
              position: absolute;
              z-index: 0;
              width: 100%;
              height: 100%;
              background: white;
              top: 0;
              left: 0;
            }

            li {
              padding: 0;
              display: block;

              a {
                &:after {
                  content: none;
                }

                display: block;
                line-height: 1.5;
                padding: .5rem 0;
                font-size: rem(14);
                pointer-events: none;
              }
            }
          }

          &:hover {
            .sub-menu {
              opacity: 1;
              transform: translateY(0);
              pointer-events: all;
              visibility: visible;

              a {
                pointer-events: all;
              }
            }
          }

          a.userway-s1-selected+ul.sub-menu {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
            visibility: visible;

            a {
              pointer-events: all;
            }
          }
        }
      }

      &#menu-action-links {
        padding: .5rem 0 1.25rem;

        li {
          padding: 0;

          a:not(.search-toggle) {
            font-size: 1rem;
            text-align: left;
            color: transparent;

            &:before {
              opacity: 1;
            }
          }

          a.search-toggle {
            @include gradientBG;
            color: white !important;
            padding: rem(5) rem(8) rem(6) rem(7);
            border-radius: 100%;
            height: rem(28);
            width: rem(28);
            text-align: center;
            font-size: rem(14);
            position: relative;
            top: rem(-2);
            display: flex;
            align-items: center;
          }
        }
      }

      @include media-breakpoint-down(md) {}
    }

    .action-menu {
      position: relative;
      z-index: 0;
    }

    .lang-toggle {
      li {
        padding: 0;

        .single-language {
          padding: 0 0 0 1rem;
          font-size: rem(14);

          &:before {
            padding: 0 0 0 1rem !important;
          }

          &:after {
            content: none;
          }
        }
      }
    }
  }

  .mt-up {
    margin-top: -7px;
  }
}

@include media-breakpoint-up(md) {
  .invert-header {
    .main-header {
      filter: invert(1);
      background: rgba(0, 0, 0, 0);

      svg {
        //      width: 100%;
        //    filter: invert(1);
      }
    }

    .main-header.utility {
      .menu {
        li {
          a {
            //            color: white;
            opacity: 1;

            &:hover {
              color: transparent;
            }

            &:after {
              //              color: white;
            }
          }

          .sub-menu {
            &:after {
              //              background: rgba(black, .9);
            }
          }
        }
      }

      // (768px)
      //      @include media-breakpoint-up(md) {
      //        .menu-toggle {
      //          span,
      //          span:nth-child(2) {
      //            background: white;
      //            &:after {
      //              //          background-color: white;
      //              //          background-image: url(../../dist/img/close_white.svg);
      //              //          background-size: cover;
      //              //          background-position: 50%;
      //              //          background-repeat: no-repeat;
      //              //          border-radius: 100%;
      //            }
      //          }
      //        }
      //      }
      a.search-toggle {
        filter: invert(1);
      }
    }

    @include media-breakpoint-up(md) {
      &.scrolled {
        .main-header {
          background: white;

          svg {
            filter: invert(0);
          }
        }

        .menu-container {
          ul {
            li {
              a {
                color: black;
                opacity: 1;
              }

              .single-language:after {
                filter: invert(0);
              }
            }
          }

          .menu-toggle {
            span {
              background: black;
            }
          }
        }
      }

      &.menu-open,
      &.scrolled.menu-open {
        .main-header {
          svg {}
        }

        .menu-container {
          ul {
            li {
              a {}

              .single-language {}
            }
          }

          .menu-toggle {

            span,
            span:nth-child(2) {
              background: transparent;
            }
          }
        }
      }
    }

    .home-hero h2 span {
      margin-bottom: -.75em;
      margin-top: .25em;
      opacity: .5;
      -webkit-text-fill-color: white;
    }
  }

  // (768px)
  @include media-breakpoint-up(lg) {
    .scrolled {
      .main-header {
        padding: 0;
        background: white;

        svg #text {
          opacity: 0;
        }

        svg {
          width: 80px;
          height: 76.84px;
          transform: translateY(rem(15));

          g {
            opacity: 0;
          }
        }
      }
    }
  }
}

.full-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 100;
  pointer-events: none;
  transition: transform .3s ease, opacity .3s ease;
  //  -webkit-transform: translateY(-100vh) translateZ(0);
  //  transform: translateY(-100%) translateZ(0);
  opacity: 0;
  transform: scale(1.1);
  will-change: transform, opacity;
  display: flex;
  align-items: center;

  * {
    pointer-events: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media(max-width: 1441px) {
      //                     column-count: 2;
      //                    column-width: 100px;
    }

    li {
      line-height: 1;
      //                    width: 100%;
      vertical-align: top;
      //                    @media(max-width: 1700px){
      display: block;
      //      width: calc(99% / 3);
      margin-bottom: 1rem;

      //                    }
      a {
        color: black;
        font-weight: bold;
        padding: 0 0;
        font-size: 1.25rem;
        display: inline-block;
        color: rgba(0, 0, 0, 0);
        //					opacity: 0;
        transform-origin: 50% 0% 0;
        transform: translateY(-rem(10)) translateZ(0) scale(.95);
        transition: transform 0.5s ease, color .5s ease;
        pointer-events: none;
        will-change: transform, color;

        @media(max-width: 1441px) {
          font-size: 1rem;
          //                          padding: 0 0 1rem;
        }

        &:before {
          padding: inherit !important;
        }
      }

      &:first-child {
        a {
          padding-top: 0;
        }
      }

      .sub-menu {
        padding: 2rem 1rem 0;
        column-count: 1;

        @media(max-width: 1441px) {
          //                            font-size: 1rem;
          padding: 1rem 1rem 0;
        }

        li {
          display: block;
          width: 100%;

          a {
            font-size: 1.25rem;
            padding-bottom: 1rem;

            @media(max-width: 1441px) {
              //                                    font-size: .8rem;
            }

            &:before {
              padding: inherit;
            }
          }
        }
      }
    }
  }

  .item,
  h3 {
    opacity: 0;
    transform-origin: 50% 0% 0;
    transform: translateY(-rem(10)) translateZ(0) scale(.95);
    transition: .5s ease;
    pointer-events: none;
    will-change: transform, opacity;
  }

  h3 {
    margin-top: 0;
  }

  h4 {
    font-size: 1.5rem;

    @media(max-width: 1441px) {
      font-size: 1rem;
      margin: .5rem 0;
      //                          padding: 0 0 1rem;
    }

    a {
      position: relative;
      transition: color .5s ease;
      display: block;

      &:before {
        opacity: 0;
        transition: opacity .5s ease;
        content: attr(title);
        color: #000;
        background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
        animation: donateanimate 10s alternate linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-attachment: fixed;
        background-position: 50%;
        position: absolute;
        width: 100%;
        z-index: 1000;
        transition: .3s ease;
        line-height: 1.1;
        will-change: transform, opacity;
      }

      &:hover:before {
        opacity: 1;
      }

      &:hover {
        color: rgba(0, 0, 0, 0) !important;
      }
    }
  }

  h5 {
    font-size: 1rem;

    @media(max-width: 1441px) {
      font-size: .8rem;
    }
  }
}

// @media (max-width: 1439px)
@include media-breakpoint-up(lg) {
  .full-menu {
    display: none;
  }
}

.menu-open {
  .main-header {

    //    background: rgba(0, 0, 0, 0);
    svg {
      filter: invert(0);
    }

    .menu-container {
      .menu {
        li {
          a {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }

    .menu-toggle {
      &:hover span:before {
        opacity: 0;
      }

      span {
        //			transition: transform .25s ease, all .3s ease .1s;
        background: transparent;
      }
    }

    .menu-toggle span:nth-child(1) {
      transform: translateX(0) translateZ(0);
      background: black;
      transform: translateX(rem(-3)) translateZ(0) rotate(225deg) translateY(rem(-4));
      background: linear-gradient(90deg, #00a8de 0%, #333391 calc(100% / 7), #e91388 calc((100% / 7) * 2), #eb2d2e calc((100% / 7) * 3), orange calc((100% / 7) * 4), #ff0 calc((100% / 7) * 5), #34d400 calc((100% / 7) * 6), #00a8de 100%);
      animation: animation 10s alternate linear infinite;
      background-attachment: fixed;
      width: 1.2rem;
      border-radius: 0;
      height: rem(2);
      z-index: 10;
      //      background: transparent;
    }

    .menu-toggle span:nth-child(3) {
      transform: translateX(0) translateZ(0);
      background: black;
      transform: translateX(rem(-9)) translateZ(0) rotate(-225deg) translateY(rem(-4));
      background: linear-gradient(90deg, #00a8de 0%, #333391 calc(100% / 7), #e91388 calc((100% / 7) * 2), #eb2d2e calc((100% / 7) * 3), orange calc((100% / 7) * 4), #ff0 calc((100% / 7) * 5), #34d400 calc((100% / 7) * 6), #00a8de 100%);
      animation: animation 10s alternate linear infinite;
      background-attachment: fixed;
      width: 1.2rem;
      border-radius: 0;
      height: rem(2);
      z-index: 10;
    }

    .menu-toggle span:nth-child(2) {
      background: transparent;
      overflow: visible;
      height: 2.4rem;
      width: 2.4rem;
      transform: translate3d(rem(-15.5), rem(-15.5), 0) scale(1);
      background: linear-gradient(90deg, #00a8de 0%, #333391 calc(100% / 7), #e91388 calc((100% / 7) * 2), #eb2d2e calc((100% / 7) * 3), orange calc((100% / 7) * 4), #ff0 calc((100% / 7) * 5), #34d400 calc((100% / 7) * 6), #00a8de 100%);
      animation: animation 10s alternate linear infinite;
      background-attachment: fixed;

      &:after {
        opacity: 1;
        transform: translate3d(-rem(15), -rem(15), 0) scale(1);
      }

      &:before {
        opacity: 1;
      }
    }
  }

  &.invert-header {
    .menu-toggle span {
      filter: invert(1);
    }

    .menu-toggle span:nth-child(2):before {
      background: black;
    }

    &.modal-open {
      .main-header {
        filter: invert(1);

        svg,
        .lang-toggle li .single-language,
        .menu-toggle span {
          filter: invert(1);
        }

        .menu-toggle span:nth-child(2):before {
          background: white;
        }
      }
    }
  }

  .full-menu {
    //    -webkit-transform: translateY(0) translateZ(0);
    //    transform: translateY(0%) translateZ(0);
    opacity: 1;
    transform: scale(1);
    pointer-events: all;

    .item,
    h3 {
      opacity: 1;
      transform: translateY(0) translateZ(0) scale(1);
      transition-delay: 1s;
    }

    * {
      pointer-events: all;
    }

    ul {
      li {
        a {
          transform: translateY(0) translateZ(0) scale(1);
          pointer-events: all;
          color: black;

          &:hover {}
        }
      }

      li:nth-child(1) {
        a:hover {
          color: $r;
        }
      }

      li:nth-child(2) {
        a:hover {
          color: $o;
        }
      }

      li:nth-child(3) {
        a:hover {
          color: $y;
        }
      }

      li:nth-child(4) {
        a:hover {
          color: $g;
        }
      }

      li:nth-child(5) {
        a:hover {
          color: $b;
        }
      }

      li:nth-child(6) {
        a:hover {
          color: $m;
        }
      }

      li:nth-child(7) {
        a:hover {
          color: $p;
        }
      }
    }
  }
}

.admin-bar .main-header {
  //  top: rem(32);
}

@media (min-width: 994px) and (max-width:1200px) {
  //  html:not(.mobile) {
  //    .main-header {
  //      .menu-container ul li a {
  //        font-size: 11px;
  //      }
  //      .menu-container ul li .single-language {
  //        padding: 6px 5px;
  //        font-size: 0;
  //      }
  //      .menu-container ul li a.single-language:before {
  //        margin-top: 6px !important;
  //      }
  //    }
  //  }
}

@media (min-width: 4rem(15)) and (max-width: 993px) {
  //  html:not(.mobile) {
  //    .main-header {
  //      .col-sm-1.col-xs-4 {
  //        width: 200px;
  //      }
  //      img,
  //      svg {
  //        height: 40px;
  //      }
  //      .col-sm-11.col-xs-8.height.tm.text-right.p-xs-0 {
  //        width: calc(100% - 200px);
  //      }
  //      .col-sm-2.col-xs-9.p0.tab-pt {
  //        width: 50%;
  //      }
  //      .height {
  //        height: 50px;
  //      }
  //      .btn.clipped {
  //        width: 200px;
  //        text-align: center;
  //      }
  //      .btn.clipped.over {
  //        width: 225px;
  //      }
  //    }
  //  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  //  body,
  //  html {
  //    //				overflow-x: hidden;
  //  }
  //  .scrolled .main-header svg {
  //    height: 40px;
  //    transform: translateY(0);
  //  }
  //  .main-header {
  //    img,
  //    svg {}
  //    svg #text {}
  //    .height {
  //      height: 40px;
  //    }
  //    .menu-container {
  //      ul {
  //        li {
  //          a {
  //            padding: rem(10) rem(10);
  //            font-size: rem(10);
  //            &:before {
  //              //    left: 0;
  //              //    top: 0;
  //            }
  //            &:hover {}
  //            &:hover:before {}
  //          }
  //          .single-language {
  //            padding: 9px rem(10);
  //          }
  //        }
  //      }
  //      .menu-toggle {
  //        padding: rem(10);
  //        &:before {}
  //        span {}
  //        &:hover span:before {}
  //        &:hover span {}
  //        span:nth-child(1) {}
  //        span:nth-child(2) {}
  //        span:nth-child(3) {}
  //      }
  //      .single-language {
  //        line-height: 1.1;
  //      }
  //      .single-language:before {
  //        //				margin-top: 1px;
  //      }
  //      .en.united-states.single-language:after {
  //        content: '';
  //        width: rem(10);
  //        height: 8px;
  //        display: inline-block;
  //        position: relative;
  //        margin-left: 5px;
  //        top: 2px;
  //        background-image: url(../../dist/img/us.svg);
  //        background-size: rem(10) 8px !important;
  //        background-position: 50%;
  //        background-repeat: no-repeat;
  //      }
  //      .es.Spanish.single-language:after {
  //        content: '';
  //        width: rem(10);
  //        height: 8px;
  //        display: inline-block;
  //        position: relative;
  //        margin-left: 5px;
  //        top: 2px;
  //        background-image: url(../../dist/img/span.svg);
  //        background-size: rem(10) 8px !important;
  //        background-position: 50%;
  //        background-repeat: no-repeat;
  //      }
  //    }
  //  }
  //  .invert-header .main-header img,
  //  .invert-header .main-header .es.Spanish.single-language:before {
  //    filter: invert(1);
  //  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  //  .scrolled .main-header {
  //    //    padding: rem(10) 25px;
  //    background: white;
  //  }
  //  .main-header .col-sm-1.col-xs-2.height.hidden-xs.hidden-sm {
  //    display: none;
  //  }
  //  .main-header .col-sm-1.col-xs-4.height.visible-sm.visible-xs.p0 {
  //    display: block !important;
  //  }
  //  .main-header img,
  //  .main-header svg {
  //    //    width: 200px;
  //    //    max-width: 200px;
  //    //    padding: 0px 5px;
  //    //    transform: scale(.8);
  //    width: 80px;
  //  }
  //  .full-menu ul li {
  //    width: calc(98% / 3);
  //  }
  //  .full-menu ul li a,
  //  .full-menu ul li .sub-menu li a {
  //    padding: .5rem 0;
  //    font-size: rem(12);
  //  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  //  .col-sm-11.height.m.tm.text-right {
  //    width: calc(100% - 100px);
  //    height: 40px;
  //  }
  //  .main-header .height.col-sm-1 {
  //    //				width: 100px;
  //    padding: 0;
  //  }
  //  .col-sm-2.p0.tab-pt {
  //    width: 300px;
  //    margin-left: 100px;
  //  }
  //  .col-sm-1.tab-pt {
  //    width: 80px;
  //  }
  //  .main-header .menu-container .menu-toggle {
  //    //    padding: rem(10) rem(10);
  //    //    margin-left: 13px;
  //  }
  //  .col-sm-2.mt-up {
  //    width: 25%;
  //  }
  //  header.main-header {
  //    padding: 10px 0 5px;
  //  }
  //  .scrolled .main-header {
  //    padding: 5px 0;
  //  }
  //  header.main-header .container-fluid {
  //    padding: 0;
  //  }
  //  .scrolled .main-header .mt-up {
  //    margin-top: 0;
  //  }
  //  .scrolled .main-header .menu-container ul {
  //    margin: 5px 0;
  //  }
  //  .scrolled .main-header .menu-toggle {
  //    margin: 5px 0 5px 13px;
  //  }
  //  .scrolled .main-header svg {
  //    //			height: 40px;
  //    transform: translateY(5px);
  //  }
  //  .menu-open .full-menu ul li a {
  //    padding: .5rem 0;
  //  }
  //  .menu-open .full-menu .item,
  //  .menu-open .full-menu h3 {
  //    transition-delay: 1.5s;
  //  }
  //  .main-header img,
  //  .main-header svg {
  //    //    width: 300px;
  //    //    max-width: 200px;
  //    //    margin-left: 25px;
  //    //    padding: 0px 5px;
  //  }
}

// (768px)
@include media-breakpoint-down(md) {
  .full-menu {
    .container-fluid {
      //                    padding: 0;
      margin: 0;
      width: 100%;
    }

    padding-top: 10rem;
    align-items: flex-start;
  }
}

@include media-breakpoint-down(md) {
  .full-menu {
    .container-fluid {}

    padding-top: 25vw;
  }

  .main-header,
  .page-id-12 .main-header,
  .invert-header .main-header {
    padding: 5px;
    background: #fff;
    position: fixed !important;

    .height {
      height: 40px;
    }

    svg,
    .menu-container ul li a {
      filter: invert(0);
      color: black;
    }

    .menu-toggle {

      span,
      span:nth-child(2) {
        //          background: black;
      }

      span:nth-child(2):after {
        background-image: url(../../dist/img/close.svg);
      }
    }
  }

  .invert-header {
    .main-header {
      background: none;
    }

    &.scrolled {
      .main-header {
        background: rgba(white, .95);
      }
    }

    .main-header,
    .full-menu {
      filter: invert(1);
    }
  }

  .main-header .menu-container .menu-toggle:hover span {
    //      background: black !important;
  }

  .menu-open .main-header .menu-toggle:hover span {
    //      background: transparent !important;
  }

  .menu-container .es.Spanish.single-language:after {
    filter: invert(0);
  }

  .page-id-12 .menu-container .menu-toggle span:after,
  .page-id-12 .menu-container .menu-toggle span:nth-child(2):after,
  .invert-header .menu-container .menu-toggle span:after,
  .invert-header .menu-container .menu-toggle span:nth-child(2):after {
    background-image: url(../../dist/img/close.svg);
  }

  .invert-header {
    .full-menu {
      background: white;
    }
  }

  .page-id-12.menu-open .full-menu,
  .invert-header.menu-open .full-menu {
    background: white;
  }

  .page-id-12.menu-open .full-menu a,
  .invert-header.menu-open .full-menu a {
    color: black;
  }

  .page-id-12.menu-open .full-menu,
  .invert-header.menu-open .full-menu,
  .page-id-12 .full-menu,
  .invert-header .full-menu {
    background: white;
  }

  .full-menu {
    ul {
      li {
        opacity: 0;
        transition: opacity .5s ease, transform .5s ease;
        transform: translateY(rem(-10));

        a {
          text-align: left;
          display: block;
          font-size: 1.5rem;
          letter-spacing: -.05em;
          padding: 1rem 0;
        }

        .sub-menu {
          display: none;
        }
      }
    }
  }

  .menu-open .full-menu ul li a {}

  .menu-open .full-menu ul li {
    opacity: 1;
    transform: translateY(0);
  }

  #menu-mobile-menu.menu li a span {
    display: block;
    font-size: 3.5vw;
    margin-bottom: 1vw;
    letter-spacing: -.05em;
  }

  .page-id-12.menu-open .main-header svg,
  .invert-header.menu-open .main-header svg {
    filter: invert(0)
  }

  .main-header img,
  .main-header svg {
    object-fit: contain;
  }

  .single-language.flag:after {
    background: none !important;
  }

  a.nturl.notranslate.en.united-states.single-language.flag:before {
    //      content: 'EN' !important;
    color: black;
    background: none;
    -webkit-text-fill-color: black;
    opacity: 1;
    top: 13px;
    font-size: rem(12);
    position: relative;
    top: 0;
    left: rem(15);
  }

  .single-language.flag {
    font-size: 0px;
  }

  a.nturl.notranslate.es.Spanish.single-language.flag:before {
    //      content: 'ES' !important;
    color: black;
    background: none;
    -webkit-text-fill-color: black;
    opacity: 1;
    top: 13px;
    font-size: rem(12);
    filter: invert(0);
  }

  .main-header .menu-container ul li .single-language {
    padding: rem(10) 0;
    margin-right: 5px;
  }

  .main-header .menu-container ul li:nth-child(1):after {
    content: '/';
    position: absolute;
    top: 14px;
    margin-left: -9px;
  }

  .main-header .menu-container ul li:nth-child(2) {
    margin-right: rem(15);
  }

  .main-header .menu-container .menu-toggle {
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: 0;
    display: block;
    margin-top: 3px;
  }

  .main-header .menu-container .menu-toggle span {
    left: 5px;
  }

  .mobile-links ul li a:before {
    content: none !important;
  }

  .full-menu ul li {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  .full-menu ul li a, .full-menu ul li .sub-menu li a {
    font-size: 1rem;
    padding: .75rem 0;
  }
}

@include media-breakpoint-down(xs) {
  html:not(.ipad) .full-menu {
    //    padding-top: 15vw;
  }
}

@media (max-width: 375px) {
  //  #menu-mobile-menu.menu li a span {
  //    font-size: 4vw;
  //    margin-bottom: 4px;
  //  }
  //  .full-menu ul li a {
  //    font-size: 6.5vw;
  //  }
}

@media (max-width: 320px) {
  //  .main-header .menu-container .menu-toggle {
  //    margin-left: -rem(10);
  //  }
}

//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//  .main-header,
//  .page-id-12 .main-header,
//  .invert-header .main-header {
//    position: relative;
//    padding: rem(15) 5px;
//    background: #fff;
//    position: relative !important;
//    .height {
//      height: 40px;
//    }
//    svg,
//    .menu-container ul li a {
//      filter: invert(0);
//      color: black;
//    }
//    .menu-toggle {
//      span,
//      span:nth-child(2) {
//        background: black;
//      }
//      span:nth-child(2):after {
//        background-image: url(../../dist/img/close.svg);
//      }
//    }
//  }
//  .menu-container .es.Spanish.single-language:after {
//    filter: invert(0);
//  }
//  .page-id-12 .menu-container .menu-toggle span:after,
//  .page-id-12 .menu-container .menu-toggle span:nth-child(2):after,
//  .invert-header .menu-container .menu-toggle span:after,
//  .invert-header .menu-container .menu-toggle span:nth-child(2):after {
//    background-image: url(../../dist/img/close.svg);
//  }
//  .invert-header {
//    .full-menu {
//      background: white;
//      position: absolute;
//    }
//  }
//  .full-menu {
//    position: absolute;
//  }
//  .main-header img,
//  .main-header svg {
//    //      width: 180px;
//    //      height: 100%;
//    //      object-fit: contain;
//  }
//  .main-header .height {
//    height: auto;
//  }
//  .main-header {}
//  .main-header .menu-container .menu-toggle {
//    margin-left: 25px;
//  }
//  .full-menu ul li a {
//    text-align: left;
//    display: block;
//    font-size: 4vw;
//    letter-spacing: -.05em;
//    opacity: 0;
//    transition: none;
//    padding: 3vw 0;
//    transform: translateY(-rem(10));
//  }
//  .full-menu ul li {
//    display: inline-block;
//    width: 49%;
//  }
//  .menu-open .full-menu ul li a {
//    opacity: 1;
//    transition: opacity .5s ease, transform .5s ease;
//    transform: translateY(0px);
//  }
//  #menu-mobile-menu.menu li a span {
//    display: block;
//    font-size: 2.25vw;
//    margin-bottom: 1vw;
//    letter-spacing: -.05em;
//  }
//  .invert-header.menu-open .full-menu {
//    background: white;
//  }
//  .page-id-12.menu-open .full-menu a,
//  .invert-header.menu-open .full-menu a {
//    color: black;
//  }
//  .menu-open .main-header a:not(.menu-toggle) {
//    //				opacity: 0;
//  }
//  .loader .img-attrib {
//    font-size: 1vw;
//  }
//}
