.featured-slider {
    //	overflow: visible;
}
.gallery {
    .item {
        width: 100%;
        height: 25vw;
        max-width: none;
        //		margin-left: calc(120vw / 6);
        width: calc(120vw / 3);
        margin-left: -5vw;
        //		margin-left: calc(120vw / 6);
        img {
            object-fit: cover;
            border: 15px solid #fff;
            width: calc(120vw / 3);
            height: 100%;
            //			margin-left: calc(120vw / 6);
            position: relative;
        }
    }
    .slick-dots li button:before {
        font-size: 13px;
    }
    .slick-dots li {
        margin: 0;
        width: 19px;
    }
    .img-attrib {
        position: absolute;
        //		top: 0;
        left: 25px;
        right: 0;
        bottom: 0;
        z-index: 100000;
        color: white;
        opacity: .5;
        width: 100%;
        text-align: left;
        font-size: 8px;
        text-shadow: 2px 2px 2px #000;
        //			margin-left: calc(120vw / 6);
        width: calc(120vw / 3);
        height: 25vw;
        padding: calc(25vw - 30px) 0px 0px 0px;
        //				top: calc(100% - 30px);
    }
    .item.slick-slide {
        position: relative;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .featured-slider {
        overflow: auto;
    }
    .slick-next {
        right: 10px;
    }
    .slick-next:before {
        color: #000;
    }
    .slick-prev {
        left: 10px;
    }
    .slick-prev:before {
        color: #000;
    }
    .mobile-tooltip {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        width: auto;
        z-index: 1;
        background-image: url(../../dist/img/tooltip.png);
        background-size: 80% auto;
        pointer-events: all;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.69);
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .gallery .item {
        height: 400px;
        margin: 0;
    }
    .gallery .item img {
        margin: 0 auto;
        height: 400px;
        width: 80%;
    }
    section.featured-slider.pt64.pb120 {
        padding-bottom: 0;
    }
    .featured-slider .slick-dots {
        bottom: -50px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 80px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .gallery .item {
        height: 400px;
        margin: 0;
    }
    .gallery .item img {
        margin: 0 auto;
        height: 400px;
        width: 80%;
    }
    section.featured-slider.pt64.pb120 {
        //		padding-bottom: 0;
        //		padding-top: 0;
    }
    .featured-slider .slick-dots {
        bottom: -50px;
    }
}
@media (max-width:993px) {
    .gallery .item {
        height: 400px;
        margin: 0;
    }
    .gallery .item img {
        margin: 0 auto;
        height: 400px;
        width: 80%;
    }
    section.featured-slider.pt64.pb120 {
        //		padding-bottom: 0;
        //		padding-top: 0;
    }
    .featured-slider .slick-dots {
        bottom: -50px;
    }
}
@media (max-width:768px) {
    html:not(.ipad) {
        .gallery .item {
            height: 66vw;
        }
        .gallery .item img {
            width: 100%;
            height: 66vw;
            margin: 0;
        }
        .slick-dots {
            bottom: -7vw;
            display: none !important;
        }
        //	.gallery {
        //
        //
        //	pointer-events: none;
        //
        //		* {
        //
        //
        //			pointer-events: none;
        //		}
        //}
        .mobile-tooltip {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            width: auto;
            z-index: 1;
            background-image: url(../../dist/img/tooltip.png);
            background-size: 100% auto;
            pointer-events: all;
            background-position: 50% 0%;
            background-repeat: no-repeat;
            background-color: rgba(255, 255, 255, 0.69);
        }
        .gallery .slick-dots li button:before {
            font-size: 2vw;
        }
        .gallery .slick-dots li {
            width: 3.5vw;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html:not(.ipad) {
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
        .gallery .item img,
        .gallery .item,
        .gallery .img-attrib {
            height: 350px;
        }
        .gallery .img-attrib {
            left: 0;
            padding: calc(250px - 30px) 0 0 0;
            width: 100%;
            text-shadow: none;
            color: black;
            text-align: center;
            width: 100% !important;
            height: 250px;
        }
        .featured-slider {
            padding-bottom: 32px !important;
        }
        .mobile-tooltip {
            background-size: 50% auto;
            background-position: 50% 25%;
        }
    }
}
