.home-hero {
	//	background: url(../../dist/img/snap-1.jpg);
	//	background-size: cover;
	h2 {
		font-size: 150px;
		line-height: .9;
		background-image: url(../../dist/img/curated/curated-1.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: 50%;
		//		height: 100vh;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 0;
	}
	//	.over {
	//	position: absolute;
	//	top: 0;
	//	left: 0;
	//	height: 100%;
	//	width: 100%;
	//	z-index: 1;
	//	background-image: url(../../dist/img/hero.svg);	
	//	background-size: cover;
	//	background-repeat: no-repeat;
	//	background-position: 50% 50%;	
	//		
	//	}
	.home-play {
		font-weight: bold;
		color: #000;
		letter-spacing: -.025em;
		img {
			width: 100%;
		}
		i {
			display: block;
			line-height: 1.1;
			font-size: 126px;
			&:before {
				background-image: url(../../dist/img/curated/curated-1.jpg);
				background-size: cover;
				background-attachment: fixed;
				background-position: 50%;
				line-height: 1.1;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: .5;
			}
		}
		.mm {
			display: table;
		}
		span {
			display: table-cell;
			vertical-align: middle;
			font-size: 28px;
			line-height: 1.25;
			letter-spacing: -.025em;
			background-image: url(../../dist/img/curated/curated-1.jpg);
			background-color: rgba(0, 0, 0, 0);
			background-blend-mode: overlay;
			background-size: cover;
			background-attachment: fixed;
			background-position: 50%;
			//		height: 100vh;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			span {
				display: block;
				font-size: 18px;
				background-image: url(../../dist/img/curated/curated-1.jpg);
				background-size: cover;
				background-attachment: fixed;
				background-position: 50%;
				//		height: 100vh;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		i:after,
		span:after,
		span span:after {
			position: relative;
			overflow: hidden;
		}
		i:after,
		span:before,
		span span:after {
			content: attr(title);
			background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
			background-size: cover;
			background-attachment: fixed;
			background-position: 50%;
			//		height: 100vh;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			opacity: 0;
			transition: opacity .5s ease;
			position: absolute;
			left: 0;
			animation: animation 10s ease infinite both;
			opacity: .5;
		}
		i:after {
			content: '\f101';
			font-family: "Flaticon";
			left: 15px;
			top: 0px;
			line-height: 1.1;
		}
		&:hover {
			&i:before,
			span:before,
			span span:after {
				opacity: 0;
			}
		}
		span:after {}
		span:after:after {}
		&:hover i:after,
		&:hover span:before,
		&:hover span span:after {
			opacity: 1;
		}
	}
}
//.parallax-window {
//	min-height: 100%;
//}
//.parallax-slider {
//	font-size: 72px;
//.home-about {
//	overflow: hidden;
//}


.translated-ltr .home .home-hero h2 {
	
	
	font-size: 9vw !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.home .home-about .col-md-5 {
		width: 75%;
		margin: 0 auto;
	}
}
@media (max-width:414px) {
	.home .home-hero .col-md-10.col-center-ls-tab {
		padding: 0 10%;
	}
	.home .home-hero {
		padding-top: 15vw;
		h2 {
			font-size: 26vw;
			background-size: auto 100vh;
			//		background-attachment: scroll;
			padding-right: 10vw;
			width: 100%;
			display: block; 
		}
	}
	a.home-play.visible-xs {
		position: absolute;
		top: 10vw;
		right: 10vw;
		width: 25vw;
	}
	a.home-play.visible-xs i {
		font-size: 30vw;
		&:before {
			background-size: auto 100vh;
			//			background-attachment: scroll;
		}
	}
	//	.home .home-hero.pt240.pt-xs-64 {
	//		padding: 15vw 0 !important;
	//	}
	//	body:not(.page-id-12) .page-main section:nth-of-type(1) {
	//		padding: 15vw 0 0 !important;
	//	}
	//	body.invert-header .page-main section:nth-of-type(1) {
	//		padding: 20vw 0 !important;
	//	}
	.mobile-links {
		padding: 10vw 15px 3vw;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: block;
				line-height: 1.1;
				a {
					span {
						display: block;
						font-size: 4.25vw;
						line-height: 1.1;
						padding-bottom: 5px;
						letter-spacing: -.03em;
					}
					display: block;
					color: black;
					font-weight: bold;
					padding: 4vw 20px;
					display: block;
					transition: color .5s ease;
					position: relative;
					line-height: 1.1;
					font-size: 8vw;
					letter-spacing: -.035em;
					&:before {
						opacity: 0;
						transition: opacity .5s ease;
						content: attr(title);
						color: #000;
						background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
						animation: animation 10s ease infinite both;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-attachment: fixed;
						background-position: 50%;
						position: absolute;
						z-index: 1000;
						line-height: 1.1;
						//    left: 0;
						//    top: 0;
					}
					&:hover {
						color: rgba(0, 0, 0, 0);
					}
					&:hover:before {
						opacity: 1;
					}
				}
				.single-language {
					padding: 9px 7px;
				}
			}
		}
	}
	.main-header .menu-container .menu-toggle span:before {
		content: none !important;
	}
	.main-header .menu-container .menu-toggle:hover span {
		background: black;
	}
	.menu-open .main-header .menu-toggle span,
	.menu-open .main-header .menu-container .menu-toggle:hover span {
		background: white;
	}
	.home-hero .home-play i:after {
		opacity: .75;
		left: 0;
		top: 1px;
		animation: donateanimate 3s alternate linear infinite;
		background: linear-gradient(135deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 50%, rgba(233, 19, 136, 1) 100%);
		background-size: 500%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
@media (max-width:375px) {
	//	.home .home-hero h2 {
	//		font-size: 30vw !important;
	//	}
	//	.home-hero .home-play i:after,
	//	.home-hero .home-play span:before,
	//	.home-hero .home-play span span:after {
	//		content: none !important;
	//	}
	
	

}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	.home-hero .home-play i:after {
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
	}
	
	.home-hero .home-play {
		    width: 25vw;
    margin: 0 auto;
		position: relative;
		
	}
	.home-hero .home-play i {
		text-align: center;
	}
	
	.home-hero h2 {
		padding: 0 5%;
	}	
	
	.mobile-links {
		padding: 2vw 10% 3vw;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: block;
				line-height: 1.1;
				a {
					span {
						display: block;
						font-size: 2.25vw;
						line-height: 1.1;
						padding-bottom: 5px;
						letter-spacing: -.03em;
					}
					display: block;
					color: black;
					font-weight: bold;
					padding: 2vw 20px;
					display: block;
					transition: color .5s ease;
					position: relative;
					line-height: 1.1;
					font-size: 4vw;
					letter-spacing: -.035em;
					&:before {
						opacity: 0;
						transition: opacity .5s ease;
						content: attr(title);
						color: #000;
						background: linear-gradient(90deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 17%, rgba(233, 19, 136, 1) 34%, rgba(235, 45, 46, 1) 51%, rgba(253, 233, 43, 1) 68%, rgba(0, 158, 84, 1) 85%, rgba(0, 168, 222, 1) 100%);
						animation: animation 10s ease infinite both;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-attachment: fixed;
						background-position: 50%;
						position: absolute;
						z-index: 1000;
						line-height: 1.1;
						//    left: 0;
						//    top: 0;
					}
					&:hover {
						color: rgba(0, 0, 0, 0);
					}
					&:hover:before {
						opacity: 1;
					}
				}
				.single-language {
					padding: 9px 7px;
				}
			}
		}
	}
	
}
