    .menu-action-links-container {
    display: inline-block;
    vertical-align: top;
  }
  $toggle: rem(14);
  .search-container {
    width: 400px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    padding: rem(6) 0;
    transition: .3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 10000;
    padding-right: 15px;
    input {
      border: none;
      font-size: rem(22);
      padding: 0;
      display: inline-block;
      line-height: 1.2;
      width: calc(100% - 32px);
      outline: none;
      font-family: fontawesome, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bold;
      letter-spacing: -.025em;
      transition: inherit;
      overflow: visible;
      color: $r;
      transition-delay: 0s;
      animation: animation-ie 10s alternate linear infinite;
      text-align: right;
      margin: 3px 0;
      right: 2.25rem;
      position: relative;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $r;
        animation: animation-ie 10s alternate linear infinite;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $r;
        animation: animation-ie 10s alternate linear infinite;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $r;
        animation: animation-ie 10s alternate linear infinite;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $r;
        animation: animation-ie 10s alternate linear infinite;
      }
    }
    .search-clear {
      font-size: 1.75rem;
      display: none;
      line-height: 1;
      padding: .75rem .25rem;
      position: absolute !important;
      top: -2px;
      right: 12px;
      &:hover {
        color: $r !important;
      }
    }
  }
  .search-cover {
    position: fixed;
    z-index: 3;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s ease;
    pointer-events: none;
  }
  .action-menu {
    ul {
      transition: .3s ease;
    }
  }
  .search-open {
    overflow: hidden;
    .search-cover {
      opacity: 1;
      pointer-events: all;
    }
    .action-menu ul {
      opacity: 0;
      .search-toggle {
        //      opacity: 0;
      }
    }
    header {
      ul {
        li {
          pointer-events: none;
          a {
            //          opacity: .25;
            pointer-events: none;
          }
        }
      }
    }
    .search-container {
      opacity: 1;
      pointer-events: all;
      input {
        transition-delay: .5s;
      }
      .search-clear {
        display: inline-block;
      }
    }
  }

.invert-header {
//  .search-open {
    .search-container {

      input {

        background: none;
      }
      input,
      .search-clear {
        filter: invert(1);
      }
    }
//  }
}
  @include media-breakpoint-up(md) {
    html[lang="en-US"] {
      .lang-toggle li {
        a[data-lang="Spanish"] {
          color: rgba(0, 0, 0, 0.3411764705882353) !important;
          &:hover {
            //    opacity: 1;
          }
        }
      }
      &.translated-ltr {
        .lang-toggle li {
          a[data-lang="English"] {
            color: rgba(0, 0, 0, 0.3411764705882353) !important;
            &:hover {
              //    opacity: 1;
            }
          }
          a[data-lang="Spanish"] {
            color: rgba(0, 0, 0, 1) !important;
            &:hover {
              //    opacity: 1;
            }
          }
        }
      }
    }
  }
//    @include media-breakpoint-up(md) {
//      .lang-toggle li .single-language {
//        color: white;
//        &[data-lang="Spanish"] {
//          color: rgba(white, .35) !important;
//        }
//        &:after {
//          filter: invert(1);
//        }
//      }
//    }
    html {
      .searchwp-live-search-results {

        // (768px)
        @include media-breakpoint-down(md) {

          display: none !important;

          * {

            display: none !important;
          }

        }

        border: none;
        outline: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        background: none;
        margin-left: 15px;
        max-height: 70vh;
        &:after {
          font-weight: bold;
          text-align: right;
          padding-right: 8px;
        }
        .spinner {
          background: url(../img/loading.gif);
          background-size: 50px;
          background-position: calc(100% - 10px) 0%;
          background-repeat: no-repeat;
          //      top: 0 !important;
          //      left: 0 !important;
          right: 0;
          bottom: 0;
          width: 100% !important;
          height: 100%;
          filter: brightness(10) invert(1);
          border-radius: 0;
          opacity: 1;
          * {
            display: none;
          }
        }
        .searchwp-live-search-result {
          p {
            border-bottom: none;
            padding-bottom: 1rem;
            a {
              white-space: normal;
              line-height: 1.25;
              font-weight: bold;
              text-align: right;
              font-size: 1rem;
            }
          }
        }
      }
    }


.search-page {
  input#search {
    border: none;
    font-size: rem(22);
    padding: 1rem 0;
    display: block;
    line-height: 1.2;
    width: calc(100%);
    outline: none;
    font-family: fontawesome, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    letter-spacing: -.025em;
    transition: inherit;
    overflow: visible;
    color: $r;
    transition-delay: 0s;
    animation: animation-ie 10s alternate linear infinite;
    pointer-events: all;
    border-bottom: 3px solid #eee;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;

    // (768px)
    @include media-breakpoint-down(md) {

//      display: block;
//      width: 100%;

    }

    input[type="submit"] {


//      display: inline-block;
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $r;
      animation: animation-ie 10s alternate linear infinite;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $r;
      animation: animation-ie 10s alternate linear infinite;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $r;
      animation: animation-ie 10s alternate linear infinite;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $r;
      animation: animation-ie 10s alternate linear infinite;
    }
  }
  .search-clear {
    display: none;
  }
  ol {
    li {
      margin-bottom: 1.5rem;
      p:empty {
        display: none;
      }
      a {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        margin-bottom: 1rem;
        white-space: normal;
        word-wrap: break-word;
        &.link {
          font-size: 1rem;
          margin-bottom: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    // (768px)
    @include media-breakpoint-down(md) {

      padding: 0;
      margin: 1rem 0 2rem;
    }

  }
}
