.survey-quote {
  font-weight: bold;
}
.signature {
  padding-top: 100px;
  background-image: url(../../dist/img/signature.svg);
  background-size: 250px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  span {
    display: block;
    font-weight: bold;
    font-size: rem(10);
  }
}
.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper {
//  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//  letter-spacing: 0;
  label {
    //        letter-spacing: 0;
    font-weight: normal;
  }
}
.gform_wrapper p {
  letter-spacing: 0;
  font-weight: normal;
}
.ie {
  .gform_wrapper .gf_progressbar_percentage,
  .gform_wrapper {
//    font-family: "Arial", sans-serif;
//    letter-spacing: 0;
  }
}
.gform_wrapper h1,
.gform_wrapper h2,
.gform_wrapper h3 {
  font-weight: bold !important;
}
.gform_wrapper {
  padding-bottom: 5rem;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea.medium,
.survey-login input {
  pointer-events: all;
  padding: rem(20) rem(5) rem(5);
  margin-bottom: rem(10);
  border: none;
  border-bottom: 3px solid #EEE;
  font-size: 14px;
  outline: none;
  transition: all .3s ease;
  -webkit-border-radius: 0;

  &:focus {

            border-color: $b !important;
            animation: buttonHover 10s alternate linear infinite;
            animation-delay: .3s;

  }
}
.gfield {
  pointer-events: all;
}
.gform_wrapper ul.gfield_radio li {
  display: inline-block;
  margin-right: 1rem;
  width: calc(100% / 6);
}
.gform_wrapper ul.gform_fields li.gfield {
  margin-bottom: 1rem;
}
.gform_wrapper ul.gfield_radio li label {
  font-size: rem(12);
  padding: .5rem .25rem;
  position: relative;
  top: 3px;
  text-transform: capitalize;
}
.gform_wrapper .percentbar_blue {
  background: black !important;
}
.gform_wrapper .gf_progressbar_percentage {
  font-size: 11px !important;
}
.gform_wrapper .gf_progressbar_percentage span {
  font-weight: bold;
  letter-spacing: -.05rem;
  line-height: 2 !important;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  padding: rem(15) rem(10) rem(12);
  border-radius: 100px;
  min-width: 300px;
  outline: none;
  border: 3px solid black;
  background: none;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -.005rem;
  font-family: inherit;
  pointer-events: all;
}
.survey-login {
  label {
    font-size: rem(12);
  }
}
.survey-login input#wp-submit {
  width: 300px;
  height: auto;
  line-height: 1;
  padding: .9375rem .625rem .65rem;
  border-radius: 100px;
  outline: none;
  border: 3px solid black;
  background: none;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -.005rem;
  font-family: inherit;
  pointer-events: all;
  margin-bottom: 2rem;
}
.gform_wrapper p {
  //    font-weight: bold;
}
.gform_wrapper ul.gfield_checkbox li label {
  position: relative;
  top: 4px;
  padding: 0 0.5rem;
  pointer-events: all;
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
  overflow: visible !important;
  input {
    -webkit-appearance: none;
    padding: rem(15);
    background: #fff;
    border-radius: 100%;
    border: 5px solid #eee;
    transition: all .35s ease;
    outline: none;
    transform: scale(0.9);
    position: relative;
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }
}
.gform_wrapper ul.gfield_radio li label:before,
.gform_wrapper ul.gfield_checkbox li label:before {
  /* position: absolute; */
  content: '';
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 100px;
  position: relative;
  display: block;
  margin-bottom: .5rem;
  border: 5px solid #eee;
  transition: all .35s ease;
  outline: none;
  transform: scale(0.9);
  transform-origin: 50% 50% 0;
  margin-left: -rem(10);
}
.gform_wrapper .gfield_checkbox li label input:checked+label:before,
.gform_wrapper .gfield_radio li input:checked+label:before {
  background: red;
  transform: scale(1);
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
  vertical-align: top;
  input[type=radio]:checked,
  input[type=checkbox]:checked {
    transform: scale(1.1);
  }
  &:first-child,
  &:nth-child(5n+1) {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background: #e40051;
    }
  }
  &:nth-child(2),
  &:nth-child(5n+2) {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background: #ffa207
    }
  }
  &:nth-child(3),
  &:nth-child(5n+3) {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background: #97ff07
    }
  }
  &:nth-child(4),
  &:nth-child(5n+4) {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background: #1e90ff
    }
  }
  &:nth-child(5),
  &:nth-child(5n+5) {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background: #ff0bff
    }
  }
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
  input[type=radio]:checked+label:before,
  input[type=checkbox]:checked+label:before {
    transform: scale(1.1);
    //    transform-origin: 100% 50% 0;
  }
  &:first-child,
  &:nth-child(5n+1) {
    input[type=radio]:checked+label:before,
    input[type=checkbox]:checked+label:before {
      background: #e40051 !important;
    }
  }
  &:nth-child(2),
  &:nth-child(5n+2) {
    input[type=radio]:checked+label:before,
    input[type=checkbox]:checked+label:before {
      background: #ffa207 !important;
    }
  }
  &:nth-child(3),
  &:nth-child(5n+3) {
    input[type=radio]:checked+label:before,
    input[type=checkbox]:checked+label:before {
      background: #97ff07 !important;
    }
  }
  &:nth-child(4),
  &:nth-child(5n+4) {
    input[type=radio]:checked+label:before,
    input[type=checkbox]:checked+label:before {
      background: #1e90ff !important;
    }
  }
  &:nth-child(5),
  &:nth-child(5n+5) {
    input[type=radio]:checked+label:before,
    input[type=checkbox]:checked+label:before {
      background: #ff0bff !important;
    }
  }
}
.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
  display: block !important;
  font-size: 13px !important;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: normal !important;
}
.gform_wrapper .gfield_required {
  display: none;
}
input[type="checkbox"]:disabled + label {
  opacity: .5;
}
.gform_confirmation_wrapper {
  padding-bottom: 25vh;
}
#english,
#spanish {
  display: none;
}
.translated-ltr {
  #spanish {
    display: block !important;
  }
  #english,
  .survey-toggle {
    display: none !important;
  }
}
li.hidden {
  display: none;
}
.gfield_error {
  border: none !important;
  background: none !important;
}
.gform_wrapper .gfield_error .gfield_label {
  color: black;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
  border: none;
  border-bottom: 3px solid #ea0b66;
}
.gform_wrapper .validation_message {
  color: #ea0b66;
  padding-top: 0px !important;
}
.gform_wrapper div.validation_error {
  color: #000000;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  background: none;
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid black;
}
.gform_wrapper ul.gfield_checkbox li {
  width: 25%;
  display: inline-block;
  margin-bottom: 1rem;
}
.page-template-survey {
  .lang-toggle {
    display: none;
  }
}
#spanish .validation_message,
#spanish div.validation_error {
  font-size: 0;
}
.gform_confirmation_message p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}
#spanish .validation_message:before {
  content: 'Repusta es reequrida';
  font-size: rem(12);
}
#spanish .validation_error:before {
  content: 'Había un error con su sumisión. Favor de revisar.';
  font-size: 16px;
}
.lang-flag {
  width: 20px;
  height: auto;
  margin-right: .25rem;
}
.user-login-label {
  line-height: 1.5;
  font-size: 14px;
  padding: 0rem;
  max-width: 500px;

  // (768px)
  @include media-breakpoint-down(md) {
  max-width: 100%;

  }

  a {
    //        display: inliblock;
    font-weight: bold;
//    display: block;
//    padding: 1rem 0;
    //        margin: 1rem;
    //        margin-bottom: 2rem;
    &:after {
//      content: "\f054";
//      margin-left: .25rem;
//      font-family: fontawesome;
    }
  }
}
.webkit,
.mac {
  .gform_wrapper .gf_progressbar_percentage {
    background: linear-gradient(90deg, #00a8de 0%, #333391 17%, #e91388 34%, #eb2d2e 51%, #fde92b 68%, #009e54 85%, #00a8de 100%) !important;
    animation: animation 10s alternate linear infinite !important;
    background-size: 100vw !important;
  }
}
.ui-datepicker-title select {
  color: black !important;
}
.ui-datepicker {
  border-radius: rem(10) !important;
}
.ui-datepicker-header {
  background: black !important;
  border-top-left-radius: rem(10) !important;
  border-top-right-radius: rem(10) !important;
}
.ui-datepicker-calendar .ui-state-default {
  background: white !important;
}
table.ui-datepicker-calendar {
  border-bottom-left-radius: rem(10) !important;
  border-bottom-right-radius: rem(10) !important;
  position: relative !important;
  overflow: hidden !important;
}
a.ui-datepicker-prev.ui-corner-all {
  border-top-left-radius: rem(10) !important;
}
.ui-datepicker-title {
  border-top-left-radius: rem(10) !important;
  border-top-right-radius: rem(10) !important;
  background: black !important;
}
.ui-datepicker-calendar .ui-state-active {
  background: black !important;
  color: white !important;
  text-shadow: none !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}
@media(max-width: 768px) {
  .gform_wrapper div.validation_error {
    max-width: 100%;
  }
  .gform_wrapper ul.gfield_radio li {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  .gform_wrapper ul.gfield_checkbox li {
    width: 50%;
    display: inline-block;
    margin-bottom: 1rem;
  }
}
