.gform_wrapper .gf_progressbar_percentage,
.gform_wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: -.025em
}
.gform_wrapper h1,
.gform_wrapper h2,
.gform_wrapper h3 {
    font-weight: bold !important;
}
.gform_wrapper {
    padding-bottom: 5rem;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea.medium, .survey-login input {
    pointer-events: all;
    padding: 20px 5px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid #EEE;
    font-size: 14px;
    outline: none;
    transition: all .3s ease;
    -webkit-border-radius: 0;
    &:active,
    &:focus {
        border-bottom-color: black;
    }
}
.gfield {
    pointer-events: all;
}
.gform_wrapper ul.gfield_radio li {
    display: inline-block;
    margin-right: 1rem;
    width: calc(100% / 6);
}
.gform_wrapper ul.gform_fields li.gfield {
    margin-bottom: 1rem;
}
.gform_wrapper ul.gfield_radio li label {
    font-size: 12px;
    padding: .5rem .25rem;
    position: relative;
    top: 3px;
    text-transform: capitalize;
}
.gform_wrapper .percentbar_blue {
    background: black !important;
}
.gform_wrapper .gf_progressbar_percentage span {
    font-weight: bold;
    letter-spacing: -.05rem;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
    padding: .5rem 2rem;
    border-radius: 100px;
    outline: none;
    border: 2px solid black;
    background: none;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -.005rem;
    font-family: inherit;
    pointer-events: all;
}


.survey-login {
    label {

        font-size: 12px;
    }
}

.survey-login input#wp-submit {
    width: 300px;
    height: auto;
    line-height: 1;
    padding: 1rem;
    padding: .5rem 2rem;
    border-radius: 100px;
    outline: none;
    border: 2px solid black;
    background: none;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -.005rem;
    font-family: inherit;
    pointer-events: all;
}


.gform_wrapper p {
    font-weight: bold;
}
.gform_wrapper ul.gfield_checkbox li label {
    position: relative;
    top: 4px;
    padding: 0 0.5rem;
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
    input {
        -webkit-appearance: none;
        padding: 15px;
        background: #fff;
        border-radius: 100%;
        border: 5px solid #eee;
        transition: all .35s ease;
        outline: none;
        transform: scale(0.9);
        position: relative;
        cursor: pointer;
    }
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
    input[type=radio]:checked,
    input[type=checkbox]:checked {
        transform: scale(1.1);
    }
    &:first-child,
    &:nth-child(5n+1) {
        input[type=radio]:checked,
        input[type=checkbox]:checked {
            background: linear-gradient(135deg, #fd2fad 0%, #e40051 100%);
        }
    }
    &:nth-child(2),
    &:nth-child(5n+2) {
        input[type=radio]:checked,
        input[type=checkbox]:checked {
            background: linear-gradient(135deg, #ffdc19 0%, #ffa207 100%);
        }
    }
    &:nth-child(3),
    &:nth-child(5n+3) {
        input[type=radio]:checked,
        input[type=checkbox]:checked {
            background: linear-gradient(135deg, #97ff07 0%, #39d507 100%);
        }
    }
    &:nth-child(4),
    &:nth-child(5n+4) {
        input[type=radio]:checked,
        input[type=checkbox]:checked {
            background: linear-gradient(135deg, #1e90ff 0%, #0729fe 100%);
        }
    }
    &:nth-child(5),
    &:nth-child(5n+5) {
        input[type=radio]:checked,
        input[type=checkbox]:checked {
            background: linear-gradient(135deg, #ff0bff 0%, purple 100%);
        }
    }
}
.gform_wrapper .gfield_required {
    display: none;
}
input[type="checkbox"]:disabled + label {
    opacity: .5;
}


.gform_confirmation_wrapper  {
    padding-bottom: 25vh;
}

#english, #spanish {

    display: none;
}

.translated-ltr {

    #spanish {

        display: block !important;
    }
    #english, .survey-toggle {

        display: none !important;
    }



}


@media(max-width: 768px) {
    .gform_wrapper ul.gfield_radio li {
        display: block;
        margin-right: 0;
        width: 100%;
    }
}
