.task-force {
	.img-attrib {
		left: 5px;
		bottom: 15px;
	}
}
.task-link {
	font-size: 2em;
	font-weight: bold;
	color: #000;
	letter-spacing: -.035em;
	margin: 25px 0;
	display: block;
	//	opacity: .5;
	transition: opacity .5s ease, color .5s ease;
	&:hover {
		opacity: 1;
	}
	&.red {
		span {
			color: $r;
		}
	}
	span {
		display: block;
		font-size: 60%;
		line-height: 1.1;
		margin-bottom: 5px;
	}
}
.task-force-members {
	list-style: none;
	font-weight: normal;
	font-weight: bold;
	padding: 0;
	margin: 0;
	li {
		font-weight: bold;
	}
	ul {
		list-style: none;
		padding: 0 10px;
		font-size: 80%;
		li {
			font-weight: normal;
		}
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.task-force .col-md-4.text-right {
		margin-top: -60px;
		margin-bottom: 80px;
	}
	.task-link {
		opacity: 1;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.col-md-2 img {
		width: calc(98% / 3);
	}
	.task-force.pb120 {
		padding-bottom: 32px;
	}
	.task-link {
		font-size: 3em;
		opacity: 1;
	}
}
@media (max-width:768px) {
	
		html:not(.ipad) {

	.task-link {
		opacity: 1;
	}
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	.task-link {
		font-size: 4vw;
		display: inline-block;
		width: 49%;
		margin: 10px 0;
	}
	#task-modal {
		padding: 15vw 5% 0;
	}
}
