.task-force {
    .img-attrib {
        left: 5px;
        bottom: rem(15);
    }
}
.task-link {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    letter-spacing: -.035em;
    margin: 25px 0;
    display: block;
    //	opacity: .5;
    transition: opacity .5s ease, color .5s ease;
    &:hover {
        opacity: 1;
    }
    &.red {
        span {
            color: $r;
        }
    }
    span {
        display: block;
        font-size: 60%;
        line-height: 1.1;
        margin-bottom: 5px;
    }
}
.task-force-members {
    list-style: none;
    font-weight: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
    column-count: 3;
    &.staff-display {
        //        column-count: 1;
    }
    li {
        font-weight: bold;
        display: inline-table;
        width: 100%;

            a {
                position: relative;
                transition: color .5s ease;
                &:before {
                    opacity: 0;
                    transition: opacity .5s ease;
                    content: attr(title);
                    color: #000;
                    background: linear-gradient(135deg, #00a8de 0%, #333391 14.28%, #e91388 28.57%, #eb2d2e 42.85%, orange 57.14%, yellow 71.42%, #34d400 85.71%, #00a8de 100%);
                    animation: donateanimate 10s alternate linear infinite;
                    background-size: 500%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-attachment: fixed;
                    //            background-position: 50%;
                    position: absolute;
                    z-index: 1000;
                                line-height: 2;            //    left: 0;
                    //    top: 0;
                }
                &:hover:before {
                    opacity: 1;
                }
                &:hover {
                    color: rgba(0, 0, 0, 0);
                }
            }
    }
    ul {
        list-style: none;
        padding: 0 rem(10);
        font-size: 80%;
        li {
            font-weight: normal;
            display: block;

        }
    }
    @media(max-width: 993px) {
        column-count: 2;
    }
    @media(max-width: 768px) {
        column-count: 1;
        padding: 1rem 1rem 0;
    }
}
.donor-list {
    list-style: none;
    font-weight: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
    //    column-count: 3;
    &.staff-display {
        //        column-count: 1;
    }
    li {
        font-weight: bold;
        display: inline-table;
        width: 100%;
    }
    ul {
        list-style: none;
        padding: 0 rem(10);
        font-size: 80%;
        li {
            font-weight: normal;
            display: block;
        }
    }
    @media(max-width: 993px) {
        column-count: 2;
    }
    @media(max-width: 768px) {
        column-count: 1;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .task-force .col-md-4.text-right {
        margin-top: -60px;
        margin-bottom: 80px;
    }
    .task-link {
        opacity: 1;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .col-md-2 img {
        width: calc(98% / 3);
    }
    .task-force.pb120 {
        padding-bottom: rem(32);
    }
    .task-link {
        font-size: 3em;
        opacity: 1;
    }
}
@media (max-width:768px) {
    html:not(.ipad) {
        .task-link {
            opacity: 1;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .task-link {
        font-size: 4vw;
        display: inline-block;
        width: 49%;
        margin: rem(10) 0;
    }
    #task-modal {
        padding: 15vw 5% 0;
    }
}
